html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 100%;
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FBF8F3;
}

#contenido{
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
    color: #5B3A29;
}

h1, h2, h3{
    color: #79442A;
    font-family: cursive;
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 2.4rem;
}

h3{
    font-size: 2.0rem;
}

/*Encabezado*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.2rem solid grey;
    max-width: 125rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #F3EDE5;
    box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.6);
}

.menu-principal ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 40%;
    list-style-type: none;
}

.menu-principal a{
    text-decoration: none;
    padding: 1rem;
}

.menu-principal a:hover{
    color: #5B3A29;
    background-color: #835b48;
    padding: 1rem;
}

.enlace-activo{
    color: #fff;
    background-color: #835b48;
    padding: 1rem;

}

.hero{
    margin-left: auto;
    margin-right: auto;
    /* background-color: #6A3F2A; */
    background: linear-gradient(135deg, #c4b5a1, #a6572f);
    display: block;
    /* grid-template-columns: repeat(auto-fit minmax(10rem)); */
    align-items: center;
    text-align: center;
    padding: 10rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.boton-principal{
    color: #fff;
    width: 10rem;
    border-radius: 0.6rem;
    padding: 1rem;
    background-color: #835b48;
}

.boton-principal:hover{
     color: #835b48;
     background-color: #fff;
}

.hero-texto{
    color: #fff;
    margin-bottom: 2rem;
}

.hero h2{
    color: #fff;
    margin-bottom: 2rem;
}

/*Cuerpo*/

/*Lo que ofrecemos*/

 #servicios{
    margin-left: auto;
    margin-right: auto;
}

 #servicios h2{
    border-bottom: 0.2rem solid #6A3F2A;
    margin-bottom: 4rem;
}


.rejilla-servicios{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 2rem;
    margin-top: 1rem;
}

.tarjeta{
    box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.6);
    border-radius: 0.6rem;
    padding: 1rem;
    margin-bottom: 4rem;
    animation: mover all 2s infinite;
}

@keyframes mover{
    0%{
        transform: translateY(10rem);
    }

    50%{
       transform: translateY(0);
    }

/*     100%{
       transform: translateY(-10rem);
    } */
    
}

.tarjeta:hover{
  animation: mover 2s ease;  
}

/*Nuestra historia*/

#historia{
    margin-left: auto;
    margin-right: auto;
}

#historia h2{
    border-bottom: 0.2rem solid #6A3F2A;
    margin-bottom: 2rem;
}

.cita{
    background-color: #C6BDB6;
    border-left: 0.2rem solid #6A3F2A;
    padding: 4rem;
    padding-top: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1.5rem;
    box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.4);
}

.cita::before{
    content: '\201C';/*Esto es para poner comillas*/
    font-size: 5rem;
    color: #6A3F2A;
    opacity: 20%;
}

/*Horario de temporada*/

#aviso{
    max-width: 125rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1.5rem;
    box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.4);
}

.panel-aviso{
    display: flex;
    flex-direction: column;
    border-left: 0.2rem solid #6A3F2A;
    background-color: #C6BDB6;
    padding: 1rem;
    margin: 4rem;
}

/*Pie de pagina*/

#pie{
    display: block;
    color: #fff;
    background-color: #5B3A29;
    padding: 13rem;
    gap: 2rem;
}

.creditos{
    border-top: 0.2rem solid #fff;
    align-items: center;
    text-align: center;
    color: #fff;
    margin-top: 4rem;
}

/*Catalogo*/

.indice{
    display: flex;
    flex-direction: column;
    background-color: #C6BDB6;
    border-radius: 0.6rem;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.indice a:hover{
    color: #fff;
}

#categorias h2{
    border-bottom: 0.2rem solid #6A3F2A;
    margin-bottom: 1rem;
}

#categorias h3{
    border-bottom: 0.2rem solid #6A3F2A;
    margin-bottom: 1rem;
}

.indice ul{
    display: flex;
    justify-content: start;
    gap: 4rem;
    list-style-type: none;
}

/*listas*/

.lista-categorias{
    margin-left: 2rem;
}

.lista-categorias ul{
    margin-left: 2rem;
}

.glosario{
    border: 0.2rem solid #79442A;
    padding: 2rem;
    border-radius: 0.6rem;
    margin-bottom: 5rem;
    margin-top: 2rem;
}

dt{
    color: #6A3F2A;
}

dd{
    padding-left: 2rem;
}

/*tabla*/

.tabla-catalogo{
    border: 0.2rem solid black;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 4rem;
}

tr:nth-child(even) th{
    background-color: #835b48;
}

tr:nth-child(even) td{
    background-color: #835b48;
}

tbody tr:hover td{
    background-color: #c4b5a1;
}

tbody tr:hover th{
    background-color: #c4b5a1;
}

thead{
    background-color: #5B3A29;
    color: #fff;
}

th{
  border: 0.2rem solid black;
}

tr{
 border: 0.2rem solid black; 
}

td{
  border: 0.2rem solid black;
  margin: 1rem; 
}

/*formulario*/

#pedido{
    background-color: #C6BDB6;
    padding: 2rem;
    max-width: 60rem;
}


input{
    display: block;
    height: 3rem;
    border-radius: 0.4rem;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="tel"],input[type="date"]{
    width: 95%;
    padding: 1rem;
    border-radius: 8px;
    font-family: inherit;
    transition: all 0.5s ease;
    display: block;
    margin: 5px auto;
}

form input:valid:not(:placeholder-shown){
    border-color: green;
}

form input:invalid:not(:placeholder-shown){
    border-color: red;
}

fieldset{
    padding: 2rem;
}

.formularo-pedido{
   border: 0.6rem solid #79442A;
   color: #79442A;
}

.boton-secundario{
    background-color: #fff;
    color: #5B3A29;
    width: 12rem;
    padding: 1rem;
    border-radius: 0.6rem;
    cursor: pointer;
}

.boton-secundario:hover{
    color: #fff;
    background-color: #835b48;
}

.grupo-botones .boton-principal{
    color: #fff;
    width: 12rem;
    border-radius: 0.6rem;
    background-color: #835b48;
    cursor: pointer;
}

.boton-principal:hover{
     color: #835b48;
     background-color: #fff;
}

.boton-principal:active{
    background-color: #5B3A29;
}

.boton-secundario:active{
     background-color: #5B3A29;
}


#notas{
    display: block;
    width: 60%;
}

.opcion{
    display: flex;
    gap: 1.5rem;
}